<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update user</title>

</head>
<body>
<style type="text/css">
    * {
        color: black;
        margin: 0 auto;
        padding: 10px;
        text-align: center;
        font-size: 20px;
        font-family: Verdana, Arial, Helvetica, sans-serif;
    }

    .link {
        text-decoration: none;
        box-shadow: 6px 6px 2px 1px black;
        cursor: pointer;
    }
</style>

    <form th:method="POST" th:action="@{/admin/user/{id}(id=${user.getId()})}" th:object="${user}">
        <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />
            <p>Enter name:</p>
            <input type="text" th:field="*{username}" id="username"/>
        <br>
        <br>
            <p>Enter password: </p>
            <input type="text" th:field="*{password}" id="password"/>
        <br>
        <br>
            <p>Enter email: </p>
            <input type="text" th:field="*{email}" id="email"/>
        <br>
        <br>
            <p>Roles:</p>
                <th:block th:each="role: ${listRoles}">
                    <input type="checkbox" th:field="*{roles}"
                           th:text="${role.name}" th:value="${role.id}"/>
                </th:block>

        <br>
        <br>
        <input class="link" type="submit" value="Update"/>
    </form>
<br>
<br>
<a class="link" href="/admin/user"> Admin Panel</a>
    <a class="link" href="/admin/new"> Create new user</a>
    <a class="link" th:href="@{/logout}">Logout</a>

</body>
</html>