<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>

<body>
<style type="text/css">
    * {
        color: black;
        margin: 0 auto;
        padding: 10px;
        text-align: center;
        font-size: 20px;
        font-family: Verdana, Arial, Helvetica, sans-serif;
    }

    .link {
        text-decoration: none;
        box-shadow: 6px 6px 2px 1px black;
        cursor: pointer;
    }
</style>

<h1> Users table </h1>
<table>
    <tr>
        <th>Id</th>
        <th>UserName</th>
        <th>Password</th>
        <th>Email</th>
    </tr>
    <tbody>
    <tr th:each="user: ${users}">
        <td th:text="${user.id}">
        <td th:text="${user.username}">
        <td th:text="${user.password}">
        <td th:text="${user.email}">
        <td>
            <a class="link" th:href="@{/admin/user/{id}(id=${user.getId()})}"> VIEW USER </a>
        </td>
    </tr>
    </tbody>
</table>
<br>
<a class="link" href="/admin/new"> Create new user</a>
<a class="link" th:href="@{/logout}">Logout</a>
</body>

</html>